{% extends 'admin/admin_base.html' %}

{% block content %}

<style>
    
.recent-bookings table{

    width:100%;

    border-collapse:collapse;

    overflow:hidden;

    border-radius:10px;
}

.recent-bookings thead{

    background:#b91b1b;

    color:white;
}

.recent-bookings th{

    padding:15px;

    text-align:left;

    font-size:14px;

    font-weight:600;
}

.recent-bookings td{

    padding:15px;

    border-bottom:
        1px solid #eee;

    color:#555;

    font-size:14px;
}

.recent-bookings tbody tr{

    transition:.3s;
}

.recent-bookings tbody tr:hover{

    background:#fff5f7;
}

.recent-bookings tbody tr:last-child td{

    border-bottom:none;
}
</style>

<div class="cards-container">

    <div class="card">
        <h3>Total Users</h3>
        <h1>{{ total_users }}</h1>
    </div>

    <div class="card">
        <h3>Total Theatres</h3>
        <h1>{{ total_theatres }}</h1>
    </div>

    <div class="card">
        <h3>Total Movies</h3>
        <h1>{{ total_movies }}</h1>
    </div>

    <div class="card">
        <h3>Total Bookings</h3>
        <h1>{{ total_bookings }}</h1>
    </div>

    <div class="card">
        <h3>Total Revenue</h3>
        <h1>₹{{ total_revenue }}</h1>
    </div>


</div>

<div class="recent-bookings">

    <div class="section-header">
        <h2>Recent Bookings</h2><br><br>
    </div>

    <table>

        <thead>

            <tr>
                <th>Booking ID</th>
                <th>User</th>
                <th>Movie</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>

        </thead>

        <tbody>

{% for booking in recent_bookings %}

<tr>

    <td>
        {{ booking.id }}
    </td>

    <td>
        {{ booking.user.username }}
    </td>

    <td>
        {{ booking.show.movie.movie_name }}
    </td>

    <td>
        ₹{{ booking.total_amount }}
    </td>

    <td>
        {{ booking.booking_status }}
    </td>

</tr>

{% empty %}

<tr>

    <td
        colspan="5"
        style="text-align:center;"
    >

        No bookings found

    </td>

</tr>

{% endfor %}

</tbody>

    </table>

</div>


{% endblock %}