
{% extends 'admin/admin_base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/theatre.css' %}">
{% endblock %}

{% block content %}

<div class="theatre-page">
    <div class="stats-container">
       <div class="stat-card">
    <h4>Total Theatres</h4>
    <span>{{ total_theatres }}</span>
</div>

<div class="stat-card">
    <h4>Active</h4>
    <span>{{ active_theatres }}</span>
</div>

<div class="stat-card">
    <h4>Inactive</h4>
    <span>{{ inactive_theatres }}</span>
</div>

<div class="stat-card">
    <h4>Owners</h4>
    <span>{{ owners }}</span>
</div>
    </div>
    <div class="info-container">
        <div class="info-box">
            <div class="box-header">
                <h3>Recently Added</h3>
            </div>
                <div class="box-body">

{% for theatre in recent_theatres %}

    <div class="info-item">
        {{ theatre.theatre_name }}
    </div>

{% empty %}

    <div class="info-item">
        No theatres found
    </div>

{% endfor %}

</div>
            
            </div>
        </div>


        <div class="info-box">
            <div class="box-header">
                <h3>Top Cities</h3>
            </div>
            <div class="box-body">

{% for city in top_cities %}

    <div class="info-item">

        {{ city.location }}

        ({{ city.total }})

    </div>

{% empty %}

    <div class="info-item">
        No data found
    </div>

{% endfor %}

</div>

            </div>

        </div>

    </div>



    <div class="theatre-panel">

        <div class="panel-header">

            <h3>Theatres</h3>

            <button
                id="openTheatreModal"
                class="add-btn"
            >
                +
            </button>

        </div>

        <div class="panel-body" id="theatreContainer">

            

        </div>

    </div>

</div>

<div id="theatreModal" class="modal">

    <div class="modal-content">

        <div class="modal-header">

            <h3 id="theatreModalTitle">
                Add Theatre
            </h3>

            <span id="closeTheatreModal">
                &times;
            </span>

        </div>

        <div class="modal-body">

            <input type="text" id="theatreName" placeholder="Theatre Name">

            <input type="text" id="theatreLocation" placeholder="Location">

            <input type="text" id="theatreCity" placeholder="City">

            <input type="text" id="username" placeholder="Username">

            <input type="email" id="email" placeholder="Email">

            <input type="password" id="password" placeholder="Password">
            
            <input type="tel" id="phone" placeholder="Phone Number" maxlength="10">

            <select id="theatreStatus">

                <option value="active">
                    Active
                </option>

                <option value="inactive">
                    Inactive
                </option>

            </select>

            <div class="modal-actions">

                <button
                    id="deleteTheatre"
                    class="delete-btn"
                >
                    Delete
                </button>

                <button
                    id="saveTheatre"
                    class="save-btn"
                >
                    Save
                </button>

            </div>

        </div>

    </div>

</div>
<div id="customAlert" class="alert-overlay">

    <div class="alert-box">

        <div id="alertIcon" class="alert-icon">
            ✔
        </div>

        <h2 id="alertTitle">
            Success
        </h2>

        <p id="alertMessage">
            Message
        </p>

        <button id="alertOk">
            OK
        </button>

    </div>

</div>
{% endblock %}

{% block js %}

<script>
function getCookie(name) {

    let cookieValue = null;

    if (document.cookie && document.cookie !== '') {

        const cookies =
            document.cookie.split(';');

        for (
            let i = 0;
            i < cookies.length;
            i++
        ) {

            const cookie =
                cookies[i].trim();

            if (
                cookie.substring(
                    0,
                    name.length + 1
                ) === (name + '=')
            ) {

                cookieValue =
                    decodeURIComponent(
                        cookie.substring(
                            name.length + 1
                        )
                    );

                break;
            }
        }
    }

    return cookieValue;
}

const csrftoken =
    getCookie('csrftoken');

console.log(
    "CSRF Token:",
    csrftoken
);
</script>

<script src="{% static 'js/theatre.js' %}"></script>

{% endblock %}